body {
  margin: 0;
  background-color: #313131;
  color: #FFC300;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column; /* <-- добавь это */
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.gold-text {
  background: linear-gradient(to right, #ffd700, #ffec8b, #ffd700, #ffec8b, #ffd700);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}


/* .tel {
    width: 25%;
    height: auto;
  } */

/* .tel {
    transform: scale(0.1);
    transform-origin: top left;
  } */

  .tel {
    width: 240px; /* например, если оригинал 200px */
    height: auto;
     margin-left: -40px;
     z-index: -1;
  }

.card {
  display: flex;
  max-width: 900px;
  border: 0px solid #FFC300;
}

.left {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center; */
  width: 340px; /* например, если оригинал 200px */
  height: auto;

}

.center {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 500px; /* например, если оригинал 200px */
  height: auto;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.logo {
  width: 100%;
  height: auto;
}

.qrcode {
  width: 180px;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

p {
  margin: 5px 0;
  font-size:x-large;
}

a {
  color: #FFC300;
  text-decoration: none;
}

a:hover {

  text-decoration: none;
  background: linear-gradient(45deg, #FFD700, #FFA500, #FFD700, #FFFACD); */
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: shine 3s linear infinite;
}

hr {
  width: 60%;
  border: 1px solid #FFC300;
  margin: 10px 0;
}

.bottom {
  margin-top: 20px;
}

.bottom-link {
  flex-basis: 100%;
  margin-top: 20px;
}


.top-text {
  flex-basis: 100%;
  margin-top: 20px;
}
